@font-face {
  font-family: "Silk";
  src: url("Fonts/slkscr-webfont.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "OstritchSans";
  src: url("Fonts/OstrichSans-Medium.otf") format("opentype"),
    url("Fonts/ostrich-sans-rounded.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "OstritchSans";
  src: url("Fonts/OstrichSans-Bold.otf") format("opentype"),
    url("Fonts/ostrich-sans-bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "OstritchSansBlack";
  src: url("Fonts/OstrichSans-Black.otf") format("opentype"),
    url("Fonts/ostrich-sans-black.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "RailwayLL";
  src: url("Fonts/Raleway-LightItalic.woff") format("woff"),
    url("Fonts/Raleway-LightItalic.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "RailwayML";
  src: url("Fonts/Raleway-MediumItalic.woff") format("woff"),
    url("Fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "SligoilMicro";
  src: url("Fonts/Sligoil-Micro.woff") format("woff"),
    url("Fonts/Sligoil-Micro.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Director";
  src: url("Fonts/Director-Regular.woff") format("woff"),
    url("Fonts/Director-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Gross";
  src: url("Fonts/terminal-grotesque-webfont.woff") format("woff"),
    url("Fonts/terminal-grotesque-webfont.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Picnic";
  src: url("Fonts/PicNic-Regular.woff") format("woff"),
    url("Fonts/PicNic-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Trick";
  src: url("Fonts/Trickster-Regular.woff") format("woff"),
    url("Fonts/Trickster-Regular.woff2") format("woff2");
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SligoilMicro";
  list-style: none;
  text-decoration: none;
}
#home-pageBG {
  background: linear-gradient(
    124deg,
    rgba(167, 139, 250, 1) 0%,
    rgba(139, 166, 250, 1) 39%
  );
  position: relative; /* Ensures z-index works */
  z-index: -2; /* Places it behind other content */
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
.over-lay {
  opacity: 100%;
  z-index: 1000; /* Higher than brain-matter and other content */
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: absolute; /* Ensure it covers the full screen */
  top: 0; /* Start at the top */
  left: 0; /* Cover from the left side */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
  background: rgb(167, 139, 250);
  background: radial-gradient(
    circle,
    rgba(167, 139, 250, 1) 0%,
    rgba(139, 166, 250, 1) 62%
  );
}
.over-lay.is-inactive {
  opacity: 0%;
  transition: 2s;
}
.over-lay.is-inactive.dead {
  z-index: -5;
}
.over-lay.fast-inactive {
  z-index: -5;
  opacity: 0%;
  transition: 1s;
}
#overtext {
  font-family: "Gross";
  font-size: 40px;
  font-weight: normal;
  color: white;
  z-index: 1001; /* Ensure text is on top */
  padding: 30px;
}
.logo {
  font-size: 50px;
  font-weight: 400px;
  color: white;
  font-family: "Picnic";
}
#aboutme .logo:hover {
  color: rgb(222, 222, 222);
}
#contact .logo:hover {
  color: rgb(222, 222, 222);
}
#publications .logo:hover {
  color: rgb(222, 222, 222);
}
.navlist {
  display: flex;
}
.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 23px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
}

.Home-info {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
  gap: 2rem;
  z-index: 101;
}
section {
  padding: 0 19%;
}
.Home-text h2 {
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}

.Home-text h1 {
  font-family: "OstritchSans";
  font-size: 100px;
  line-height: 1;
  color: white;
  margin: 0 0 30px;
  font-weight: bold;
}
.brain-matter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  z-index: -1; /* Behind text and other elements */
}
.about-info {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between text and image */
  padding: 0 2rem; /* Add horizontal padding if needed */
  z-index: 101;
  background: linear-gradient(270deg, #a78bfa, #8ba6fa);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-text {
  flex: 1;
  max-width: 50%; /* Adjust based on desired width */
  padding-left: 20px;
}

.about-text h1 {
  color: #ffffff;
  font-size: 80px;
  margin-bottom: 5px;
  font-family: "OstritchSans"; /* Ensure proper font family */
  font-weight: bold;
}

.about-text h2 {
  color: #ffffff;
  text-align: left;
  font-family: "Director"; /* Ensure proper font family */
  font-weight: normal;
  font-size: 20px;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active.hamburger::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active.hamburger::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: block;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 100%;
  z-index: 200;
  background: rgba(167, 139, 250, 0.797);
  background: radial-gradient(
    circle,
    rgba(167, 139, 250, 0.813) 15%,
    rgba(110, 144, 255, 0.795) 100%
  );
  padding-top: 200px;
  font-size: 20px;
  transition: 0.4s;
  a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #ffffff;
    color: #1d55fd;
    text-decoration: none;
    font-family: "SligoilMicro";
  }
}
.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a:hover {
  background-color: #e0e0e0;
}
.publication-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Proper left alignment in flexbox */
  justify-content: space-between; /* Adjusts spacing evenly across the container */
  overflow-y: auto;
  background: radial-gradient(
      ellipse at top,
      rgba(98, 120, 216, 1.3),
      transparent
    ),
    radial-gradient(ellipse at bottom, rgba(130, 94, 216, 1.3), transparent);
}
.publication-text {
  flex: 1;
  max-width: 85%; /* Adjust based on desired width */
  padding-left: 65px;
  padding-top: 170px;
}
.publication-text a:hover {
  border-bottom: 2px solid #0027c2;
}

/* Header styling */
.publication-text h1 {
  font-family: "OstritchSans";
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 70px;
  color: #0027c2;
}

/* Subheader styling */
.publication-text h2 {
  font-family: "OstritchSans";
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 60px;
  color: #0027c2;
}

/* Subcontent styling */
.publication-text h3 {
  margin-top: 20px; /* Adds space below the subheader */
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  padding-left: 10px;
  font-family: "Director";
  font-weight: normal;
}
a {
  color: #2727f1; /* Link color matches header */
  text-decoration: none;
}
.contact-page {
  background: rgb(167, 139, 250);
  background: linear-gradient(
    166deg,
    rgba(167, 139, 250, 1) 35%,
    rgba(139, 166, 250, 1) 62%
  );
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-title h2 {
  font-weight: 600;
  color: #ffffff;
  font-size: 80px;
  margin-bottom: 5px;
  font-family: "OstritchSans";
  font-weight: bold;
}
.contact-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #aec9ff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.contact-left textarea {
  height: 140px;
  padding: top 15px;
  border-radius: 20px;
}
.contact-inputs :focus {
  border: 2px solid #b2c1df;
}
.contact-inputs::placeholder {
  color: #a9a9a9;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #547cf6, #7a55e9);
  cursor: pointer;
}

.research-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 3rem;
  background: rgb(63, 40, 130);
  background: linear-gradient(
    180deg,
    rgb(63, 40, 130) 36%,
    rgb(47, 72, 147) 100%
  );
}

.card-container {
  width: 350px;
  height: 550px;
  perspective: 800px;
}

@media (hover: hover) and (pointer: fine) {
  .card-container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
}

/* For devices without hover capabilities (e.g., touchscreens) */
@media (hover: none) and (pointer: coarse) {
  .card.active {
    cursor: pointer;
    transform: rotateY(180deg);
  }
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex; /* Ensure that flex properties are applied */
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  border: solid 5px black;
}

.front img {
  width: 100%; /* Stretch the image to fit the width of the .front */
  height: 100%; /* Stretch the image to fit the height of the .front */
  display: block;
}
.back {
  background-color: #decaaa;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: solid 5px black;
}
.back h1 {
  font-family: "Trick";
  margin: 20px;
  text-align: center;
}
.back p {
  margin: 15px;
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .about-text {
    padding-right: 30px;
  }
  .about-text h1 {
    font-size: 60px;
  }
  .about-text h2 {
    font-size: 15px;
  }
  .card-container {
    width: 300px;
    height: 500px;
    perspective: 700px;
  }
}
@media screen and (min-width: 1100px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .navlist {
    display: none;
  }
  .card-container {
    width: 250px;
    height: 450px;
    perspective: 700px;
    box-sizing: border-box;
  }
  .back h1 {
    font-size: 20px;
  }
  .back p {
    font-size: 12px;
  }
}

@media screen and (max-width: 870px) {
  .research-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: flex-start; /* Adjust to start from the top */
    gap: 1rem; /* Adjust gap as needed */
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .card-container {
    padding-top: 50px;
    width: 300px;
    height: 500px;
    perspective: 800px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 800px) {
  .about-info {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .about-text {
    margin-top: 150px; /* Push the text down */
    text-align: center; /* Center text horizontally */
    margin-bottom: 2rem;
    max-width: 80%;
  }
  .about-text h1 {
    font-size: 60px;
  }
  .about-text h2 {
    font-size: 15px;
  }
  .image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (max-width: 610px) {
  .image-container img {
    /* Adjust to fit within container */
    max-width: 350px; /* Max width if needed */
  }
  .about-text {
    max-width: 95%;
  }
  .publication-container {
    flex-direction: column;
    align-items: center; /* Proper left alignment in flexbox */
    justify-content: left;
  }
  .publication-text {
    max-width: 65%;
    padding-left: 0;
    text-overflow: wrap;
  }
  .publication-text h1 {
    font-size: 50px;
  }

  /* Subheader styling */
  .publication-text h2 {
    font-size: 40px;
  }

  /* Subcontent styling */
  .publication-text h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 560px) {
  .contact-inputs {
    width: 80vw;
  }
  .contact-title h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 448px) {
  .Home-text h1 {
    font-size: 80px;
  }
  .Home-text h2 {
    font-size: 20px;
  }
  .publication-text h3 {
    font-size: 10px;
  }
  .publication-text {
    max-width: 70%;
  }
}
@media screen and (max-width: 330px) {
  .Home-text h1 {
    font-size: 60px;
  }
  .Home-text h2 {
    font-size: 15px;
  }

  .contact-inputs {
    width: 80vw;
  }
  .contact-title h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 236px) {
  .Home-text h1 {
    font-size: 40px;
  }
  .Home-text h2 {
    font-size: 10px;
  }
}

.image-container {
  position: relative;
  width: 95vw;
  height: 95vh;
}

.strewn-image {
  position: fixed;
  transform-origin: center;
  transition: transform 1s ease;
}
.strewn-image:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
#dino {
  width: 100%; /* Adjust to fit within container */
  max-width: 450px;
  top: 26%;
  right: 10%;
}
#arm {
  width: 100%; /* Adjust to fit within container */
  max-width: 250px;
  top: 30%;
  right: 70%;
  transform: rotate(-30deg);
}
#PC {
  width: 100%; /* Adjust to fit within container */
  max-width: 250px;
  top: 65%;
  right: 70%;
  transform: rotate(-25deg);
}
#Baseball {
  width: 100%; /* Adjust to fit within container */
  max-width: 150px;
  top: 47%;
  right: 45%;
}
#Boogie {
  width: 100%; /* Adjust to fit within container */
  max-width: 200px;
  top: 65%;
  right: 20%;
  transform: rotate(-80deg);
}
#camera {
  width: 100%; /* Adjust to fit within container */
  max-width: 200px;
  top: 20%;
  right: 5%;
}
#hint {
  font-family: "silk";
  font-weight: normal;
  color: white;
  top: 15%;
  right: 65%;
  font-size: 25px;
  transform: rotate(10deg);
}

dialog {
  width: 400px;
  border-radius: 0px; /* Remove rounded corners to make the dialog box square */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 0 transparent;
  outline: none;
  /* Simulating the black box behind the dialog */
  box-shadow: -5px -5px 0px 0px black;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.7s ease, top 0.7s ease,
    left 0.7s ease;
  transform: scale(0.5); /* Initial scaling */
  overflow: hidden;
}

dialog.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* Center and enlarge when active */
}
.dialogHead {
  /* Background color for the header */
  color: rgb(255, 255, 255); /* Text color */
  padding: 10px; /* Padding inside the header */
  border-bottom: solid 4px black;
}
.dialogHead h1 {
  font-family: "Gross";
  font-size: 40px;
}
.dialog-text p {
  font-family: "Silk";
  padding: 10px;
  font-size: 20px;
}

dialog::backdrop {
  display: none;
}
.about-title {
  position: absolute; /* Position relative to the nearest positioned ancestor (or the viewport if none is found) */
  top: 18%; /* 20% from the top of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
  font-size: 200px;
  text-align: center; /* Center text within the div */
  padding: 10px; /* Optional padding */
  color: white; /* Text color */
  font-family: "Gross";
  z-index: -1;
}
.dialog-image {
  width: 400px;
  height: 400px;
  overflow: hidden; /* This will hide any overflow if the image is larger */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-image img {
  width: 100%; /* Make sure the image takes the full width of the container */
  height: auto;
  object-fit: contain;
}
@media screen and (max-width: 996px) {
  .about-title {
    font-size: 150px;
    top: 25%;
  }
  #camera {
    max-width: 150px;
  }
  #dino {
    /* Adjust to fit within container */
    max-width: 300px;
  }
  #arm {
    /* Adjust to fit within container */
    max-width: 150px;
  }
  #PC {
    /* Adjust to fit within container */
    max-width: 150px;
  }
  #Baseball {
    /* Adjust to fit within container */
    max-width: 100px;
  }
  #Boogie {
    /* Adjust to fit within container */
    max-width: 100px;
  }
  #hint {
    top: 20%;
    right: 65%;
    font-size: 25px;
    transform: rotate(10deg);
  }
}
@media screen and (max-width: 754px) {
  .about-title {
    font-size: 100px;
    top: 30%;
  }
  #camera {
    max-width: 125px;
  }
  #dino {
    width: 100%; /* Adjust to fit within container */
    max-width: 250px;
  }
  #arm {
    width: 100%; /* Adjust to fit within container */
    max-width: 100px;
  }
  #PC {
    width: 100%; /* Adjust to fit within container */
    max-width: 100px;
  }
  #Baseball {
    width: 100%; /* Adjust to fit within container */
    max-width: 75px;
  }
  #Boogie {
    width: 100%; /* Adjust to fit within container */
    max-width: 70px;
  }
  #hint {
    top: 20%;
    right: 55%;
    font-size: 25px;
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 526px) {
  #hint {
    top: 20%;
    right: 55%;
    font-size: 20px;
    transform: rotate(10deg);
  }
}
@media screen and (max-width: 489px) {
  .about-title {
    font-size: 75px;
    top: 30%;
  }
  #dino {
    right: -5%;
  }
  #PC {
    right: 60%;
  }
  #camera {
    max-width: 100px;
    top: 15%;
  }
  #PC {
    top: 70%;
  }
  #Boogie {
    top: 70%;
  }
  .dialog-image {
    width: 300px;
    height: 300px;
  }
  dialog {
    width: 300px;
  }
  #hint {
    top: 20%;
    right: 50%;
    font-size: 17px;
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 360px) {
  .about-title {
    font-size: 50px;
    top: 30%;
  }
  #dino {
    width: 100%; /* Adjust to fit within container */
    max-width: 250px;
    right: -15%;
  }
  #arm {
    width: 100%; /* Adjust to fit within container */
    max-width: 100px;
    right: 50%;
    top: 20%;
  }
  #PC {
    width: 100%; /* Adjust to fit within container */
    max-width: 100px;
    right: 60%;
  }
  #Baseball {
    width: 100%; /* Adjust to fit within container */
    max-width: 75px;
    top: 50%;
  }
  #Boogie {
    width: 100%; /* Adjust to fit within container */
    max-width: 70px;
  }
  #hint {
    top: 87%;
    right: 30%;
    font-size: 17px;
    transform: rotate(10deg);
  }
}

/* Star container */
.star-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Ensure stars don't interfere with interactions */
}

/* Individual star */
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle ease-in-out infinite;
}

/* Twinkling effect */
@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
