@font-face {
  font-family: "OstritchSans";
  src: url("Fonts/OstrichSans-Medium.otf") format("opentype"),
    url("Fonts/ostrich-sans-rounded.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "OstritchSans";
  src: url("Fonts/OstrichSans-Bold.otf") format("opentype"),
    url("Fonts/ostrich-sans-bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "OstritchSansBlack";
  src: url("Fonts/OstrichSans-Black.otf") format("opentype"),
    url("Fonts/ostrich-sans-black.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "RailwayLL";
  src: url("Fonts/Raleway-LightItalic.woff") format("woff"),
    url("Fonts/Raleway-LightItalic.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "RailwayML";
  src: url("Fonts/Raleway-MediumItalic.woff") format("woff"),
    url("Fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "SligoilMicro";
  src: url("Fonts/Sligoil-Micro.woff") format("woff"),
    url("Fonts/Sligoil-Micro.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Director";
  src: url("Fonts/Director-Regular.woff") format("woff"),
    url("Fonts/Director-Regular.woff2") format("woff2");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: #8ba6fa;
  position: relative;
  height: 100%;
  /* Allows absolute positioning of the links */
}

.content-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Space between instead of space-evenly */
  padding: 0 50px; /* Add some padding for spacing */
}

/* Left Container Styles */
.left-container h1 {
  color: #ffffff;
  font-size: 120px;
  margin-bottom: 5px;
  font-family: "OstritchSans";
  font-weight: bold;
}

.left-container h2 {
  color: #ffffff;
  font-size: 70px;
  margin-bottom: 5px;
  font-family: "OstritchSans";
  font-weight: bold;
}

.left-container text {
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 5px;
  text-align: left;
  font-family: "SligoilMicro";
  font-weight: normal;
}

.left-container h3 {
  font-weight: 800;
  color: #ffffff;
  text-align: left;
  font-family: "Director";
  font-weight: normal;
  width: 430px;
  font-size: 20px;
  line-height: 1.3;
}

.right-container {
  width: 900px; /* Set the width of the container */
  height: 800px; /* Set the height of the container */
  /* Hides overflow if the image is larger */
  display: flex; /* Centering the image */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */ /* Vertical centering */
}
.image-container {
  width: 500px; /* example */
  height: auto; /* Set the height of the container */
  /* Hides overflow if the image is larger */
  display: flex; /* Centering the image */
  justify-content: center; /* Horizontal centering */
  align-items: center;
  margin-left: 200px; /* Vertical centering */
  border: 5px solid #5b60d6;
}
.responsive-image {
  max-width: 100%; /* Prevent the image from exceeding the container's width */
  height: auto; /* Maintain the image's aspect ratio */
  object-fit: contain;
  /* Optional: Ensures the image fits without being stretched */
}
.navbar {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1000;
  /* Ensure the navbar is on top */
  display: flex;
  /* Display links horizontally */
}

.navbar a {
  margin: 0 15px;
  /* Horizontal spacing between links */
  text-decoration: none;
  color: #ffffff;
  /* Text color */
  font-size: 25px;
  /* Adjust font size if needed */
  font-family: "SligoilMicro";
  font-weight: normal;
}

.navbar a:hover {
  text-decoration: underline;
  /* Underline text on hover */
}

.publication-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Proper left alignment in flexbox */
  justify-content: space-between; /* Adjusts spacing evenly across the container */
  padding: 0 50px;
  overflow-y: auto;
}

/* Header styling */
.header {
  font-family: "OstritchSans";
  font-weight: bold;
  margin-top: 130px; /* Adds space above the header */
  margin-left: 20px; /* Moves the header to the right */
  font-size: 70px;
  color: #0027c2;
}

/* Subheader styling */
.subheader {
  font-family: "OstritchSans";
  font-weight: bold;
  margin-top: 50px; /* Adds space below the content */
  margin-left: 20px;
  font-size: 60px;
  color: #0027c2;
}

/* Subcontent styling */
.content,
.subcontent {
  margin-top: 20px; /* Adds space below the subheader */
  max-width: 1000px;
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  padding-left: 10px;
  font-family: "Director";
  font-weight: normal;
}
a {
  color: #2727f1; /* Link color matches header */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-title h2 {
  font-weight: 600;
  color: #ffffff;
  font-size: 80px;
  margin-bottom: 5px;
  font-family: "OstritchSans";
  font-weight: bold;
}
.contact-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #aec9ff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.contact-left textarea {
  height: 140px;
  padding: top 15px;
  border-radius: 20px;
}
.contact-inputs :focus {
  border: 2px solid #b2c1df;
}
.contact-inputs::placeholder {
  color: #a9a9a9;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #547cf6, #7a55e9);
  cursor: pointer;
}
#home-page {
  background: rgb(167, 139, 250);
  background: linear-gradient(
    124deg,
    rgba(167, 139, 250, 1) 0%,
    rgba(139, 166, 250, 1) 39%
  );
}

@media screen and (max-width: 800px) {
  /* Adjust left container for small screens */
  .left-container {
    width: 90%; /* Adjust width for small screens */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text content */
    word-wrap: break-word; /* Ensure words wrap */
    padding: 0 50px; /* Add padding for spacing */
  }

  .left-container h1 {
    font-size: 50px; /* Reduce font size for smaller screens */
    word-wrap: break-word; /* Ensure long words wrap */
  }
  .left-container h2 {
    font-size: 50px;
    word-wrap: break-word;
  }
  .left-container text {
    font-size: 15px; /* Reduce font size for smaller screens */
    width: 90%; /* Ensure the text container takes full width */
    word-wrap: break-word;
    text-align: center; /* Make sure long text wraps */
  }
  .left-container h3 {
    font-size: 15px; /* Reduce font size for smaller screens */
    width: 100%; /* Ensure the text container takes full width */
    word-wrap: break-word;
    text-align: left; /* Make sure long text wraps */
  }

  .publication-container {
    width: 90%; /* Adjust width for small screens */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text content */
    word-wrap: break-word; /* Ensure words wrap */
    padding: 10px; /* Add padding for spacing */
  }
  .content,
  .subcontent {
    font-size: 16px; /* Adjust font size for small screens */
    padding-left: 5px;
    width: 100%;
  }

  .right-container {
    display: none; /* Center the image horizontally */
  }
  .image-container {
    display: none;
  }
  .contact-inputs {
    width: 80vw;
  }
  .contact-title h2 {
    font-size: 70px;
  }

  .navbar a {
    display: none; /* Adjust margin to give space between links */
  }

  .small-brain {
    width: 400px;
    height: 300px;
    justify-content: center; /* Define the height */
  }
  .small-image {
    width: 300px;
    height: 200px;
    justify-content: center; /* Horizontal centering */
    align-items: center;
  }
  #home-page {
    background: #8ba6fa;
    background: linear-gradient(
      180deg,
      rgba(167, 139, 250, 1) 0%,
      rgba(139, 166, 250, 1) 25%
    );
    min-height: 100vh; /* Ensures gradient fills the full viewport height */
    display: flex; /* Ensures content respects viewport */
    flex-direction: column;
    overflow: hidden;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active.hamburger::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active.hamburger::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: block;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 100%;
  z-index: 999;
  background: rgba(167, 139, 250, 0.711);
  background: linear-gradient(
    196deg,
    rgba(167, 139, 250, 0.705) 38%,
    rgba(139, 166, 250, 1) 57%
  );
  padding-top: 200px;
  font-size: 20px;
  transition: 0.4s;
  a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #ffffff;
    color: #3a6bff;
    text-decoration: none;
    font-family: "SligoilMicro";
  }
}
.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a:hover {
  background-color: #e0e0e0;
}

@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .small-brain {
    display: none;
  }
  .small-image {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  #about-page .left-container {
    width: 90%; /* Adjust width for small screens */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text content */
    word-wrap: break-word; /* Ensure words wrap */
    padding: 20px; /* Add padding for spacing */
    padding-top: 30vh;
  }
  .contact-container {
    padding-top: 10vh;
  }
}

#about-page {
  background: linear-gradient(to bottom right, #8ba6fa, #a78bfa);
  min-height: 100%; /* Ensures gradient fills the full viewport height */
  display: flex; /* Ensures content respects viewport */
  flex-direction: column;
}

#publication-page {
  background: radial-gradient(
      ellipse at top,
      rgba(98, 120, 216, 1.3),
      transparent
    ),
    radial-gradient(ellipse at bottom, rgba(130, 94, 216, 1.3), transparent);
}

#contact-page {
  background: rgb(167, 139, 250);
  background: radial-gradient(
    circle,
    rgba(167, 139, 250, 1) 39%,
    rgba(139, 166, 250, 1) 80%
  );
}
